{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier",
    "import"
  ],
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-unused-vars": [2, {
      "args": "none",
      "vars": "all",
      "varsIgnorePattern": "hJSX"
    }],
    "no-undef": 2,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 100,
        "semi": false,
        "trailingComma": "none"
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "import/no-commonjs": 2,
    "import/order": ["error", {
      "newlines-between": "always"
    }]
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
